-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'user',
    "userType" TEXT NOT NULL DEFAULT 'gpssa',
    "department" TEXT,
    "avatar" TEXT,
    "hasCompletedProfile" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppConfig" (
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,

    CONSTRAINT "AppConfig_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "AgentConfig" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "systemPrompt" TEXT NOT NULL,
    "userPromptTemplate" TEXT NOT NULL,
    "model" TEXT NOT NULL DEFAULT 'gpt-4o',
    "provider" TEXT NOT NULL DEFAULT 'openai',
    "maxTokens" INTEGER NOT NULL DEFAULT 4096,
    "temperature" DOUBLE PRECISION NOT NULL DEFAULT 0.7,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "executionCount" INTEGER NOT NULL DEFAULT 0,
    "lastRunAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AgentConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AgentExecution" (
    "id" TEXT NOT NULL,
    "agentId" TEXT NOT NULL,
    "input" TEXT NOT NULL,
    "output" TEXT,
    "model" TEXT NOT NULL,
    "tokensUsed" INTEGER,
    "durationMs" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'running',
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AgentExecution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Country" (
    "id" TEXT NOT NULL,
    "iso3" TEXT NOT NULL,
    "iso2" TEXT,
    "name" TEXT NOT NULL,
    "flag" TEXT,
    "region" TEXT NOT NULL,
    "subRegion" TEXT,
    "institution" TEXT,
    "systemType" TEXT,
    "yearEstablished" INTEGER,
    "maturityScore" DOUBLE PRECISION,
    "maturityLabel" TEXT,
    "coverageRate" DOUBLE PRECISION,
    "replacementRate" DOUBLE PRECISION,
    "sustainability" DOUBLE PRECISION,
    "digitalLevel" TEXT,
    "keyFeatures" TEXT,
    "challenges" TEXT,
    "insights" TEXT,
    "researchStatus" TEXT NOT NULL DEFAULT 'pending',
    "researchedAt" TIMESTAMP(3),
    "researchSource" TEXT,
    "rawResearchData" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Country_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResearchJob" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'country-research',
    "status" TEXT NOT NULL DEFAULT 'pending',
    "totalItems" INTEGER NOT NULL DEFAULT 0,
    "completedItems" INTEGER NOT NULL DEFAULT 0,
    "failedItems" INTEGER NOT NULL DEFAULT 0,
    "currentItem" TEXT,
    "model" TEXT NOT NULL DEFAULT 'gpt-4o',
    "batchSize" INTEGER NOT NULL DEFAULT 3,
    "totalTokens" INTEGER NOT NULL DEFAULT 0,
    "totalCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "pausedAt" TIMESTAMP(3),
    "lastError" TEXT,
    "errorCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ResearchJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResearchJobItem" (
    "id" TEXT NOT NULL,
    "jobId" TEXT NOT NULL,
    "countryIso3" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "tokensUsed" INTEGER NOT NULL DEFAULT 0,
    "durationMs" INTEGER NOT NULL DEFAULT 0,
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ResearchJobItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScoringMethodology" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ScoringMethodology_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScoringWeight" (
    "id" TEXT NOT NULL,
    "methodologyId" TEXT NOT NULL,
    "dimension" TEXT NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "maxScore" DOUBLE PRECISION NOT NULL DEFAULT 100,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ScoringWeight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Institution" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "shortName" TEXT,
    "country" TEXT NOT NULL,
    "countryCode" TEXT NOT NULL,
    "region" TEXT NOT NULL,
    "countryId" TEXT,
    "isBenchmarkTarget" BOOLEAN NOT NULL DEFAULT false,
    "description" TEXT,
    "services" TEXT,
    "digitalMaturity" TEXT,
    "keyInnovations" TEXT,
    "aiAnalysis" TEXT,
    "websiteUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Institution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkDataset" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "methodology" TEXT,
    "coverageNote" TEXT,
    "targetInstitutionId" TEXT,
    "publishedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BenchmarkDataset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkDimension" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BenchmarkDimension_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkSource" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "publisher" TEXT,
    "url" TEXT NOT NULL,
    "sourceType" TEXT NOT NULL DEFAULT 'website',
    "description" TEXT,
    "region" TEXT,
    "publishedAt" TIMESTAMP(3),
    "accessedAt" TIMESTAMP(3),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BenchmarkSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkInstitutionScore" (
    "id" TEXT NOT NULL,
    "datasetId" TEXT NOT NULL,
    "institutionId" TEXT NOT NULL,
    "dimensionId" TEXT NOT NULL,
    "score" DOUBLE PRECISION NOT NULL,
    "maturityLabel" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BenchmarkInstitutionScore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkInstitutionScoreSource" (
    "id" TEXT NOT NULL,
    "scoreId" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "citation" TEXT,
    "evidenceNote" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BenchmarkInstitutionScoreSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkKpi" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT,
    "unit" TEXT,
    "direction" TEXT NOT NULL DEFAULT 'higher-better',
    "ribbonLabel" TEXT,
    "ribbonOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BenchmarkKpi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkKpiValue" (
    "id" TEXT NOT NULL,
    "datasetId" TEXT NOT NULL,
    "kpiId" TEXT NOT NULL,
    "comparator" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "value" DOUBLE PRECISION NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BenchmarkKpiValue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkKpiValueSource" (
    "id" TEXT NOT NULL,
    "valueId" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "citation" TEXT,
    "evidenceNote" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BenchmarkKpiValueSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BenchmarkReport" (
    "id" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "comparisonId" TEXT NOT NULL,
    "analysis" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BenchmarkReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GPSSAService" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "description" TEXT,
    "userTypes" TEXT,
    "currentState" TEXT,
    "painPoints" TEXT,
    "opportunities" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GPSSAService_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ServiceAnalysis" (
    "id" TEXT NOT NULL,
    "serviceId" TEXT NOT NULL,
    "analysis" TEXT NOT NULL,
    "model" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ServiceAnalysis_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Opportunity" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "description" TEXT,
    "impact" TEXT NOT NULL DEFAULT 'medium',
    "effort" TEXT NOT NULL DEFAULT 'medium',
    "strategicFit" DOUBLE PRECISION,
    "feasibility" DOUBLE PRECISION,
    "status" TEXT NOT NULL DEFAULT 'identified',
    "sourceSection" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Opportunity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConceptSheet" (
    "id" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ConceptSheet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Requirement" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "details" TEXT,
    "priority" TEXT NOT NULL DEFAULT 'medium',
    "status" TEXT NOT NULL DEFAULT 'identified',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Requirement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RoadmapPhase" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "startDate" TEXT,
    "endDate" TEXT,
    "objectives" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RoadmapPhase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RoadmapInitiative" (
    "id" TEXT NOT NULL,
    "phaseId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'planned',
    "owner" TEXT,
    "dependencies" TEXT,
    "estimatedImpact" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RoadmapInitiative_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Risk" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT,
    "probability" TEXT NOT NULL DEFAULT 'medium',
    "impact" TEXT NOT NULL DEFAULT 'medium',
    "mitigation" TEXT,
    "owner" TEXT,
    "status" TEXT NOT NULL DEFAULT 'open',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Risk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KPI" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT,
    "target" TEXT,
    "actual" TEXT,
    "unit" TEXT,
    "frequency" TEXT NOT NULL DEFAULT 'monthly',
    "owner" TEXT,
    "pillar" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KPI_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Activity" (
    "id" TEXT NOT NULL,
    "actor" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "details" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Activity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DataSource" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "publisher" TEXT,
    "sourceType" TEXT NOT NULL DEFAULT 'website',
    "description" TEXT,
    "region" TEXT,
    "publishedAt" TIMESTAMP(3),
    "accessedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DataSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ServiceSourceCitation" (
    "id" TEXT NOT NULL,
    "serviceId" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "citation" TEXT,
    "evidenceNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ServiceSourceCitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InstitutionSourceCitation" (
    "id" TEXT NOT NULL,
    "institutionId" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "citation" TEXT,
    "evidenceNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InstitutionSourceCitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OpportunitySourceCitation" (
    "id" TEXT NOT NULL,
    "opportunityId" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "citation" TEXT,
    "evidenceNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OpportunitySourceCitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RequirementSourceCitation" (
    "id" TEXT NOT NULL,
    "requirementId" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "citation" TEXT,
    "evidenceNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RequirementSourceCitation_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "AgentConfig_name_key" ON "AgentConfig"("name");

-- CreateIndex
CREATE INDEX "AgentExecution_agentId_idx" ON "AgentExecution"("agentId");

-- CreateIndex
CREATE UNIQUE INDEX "Country_iso3_key" ON "Country"("iso3");

-- CreateIndex
CREATE UNIQUE INDEX "Country_name_key" ON "Country"("name");

-- CreateIndex
CREATE INDEX "Country_region_idx" ON "Country"("region");

-- CreateIndex
CREATE INDEX "Country_researchStatus_idx" ON "Country"("researchStatus");

-- CreateIndex
CREATE INDEX "ResearchJobItem_jobId_idx" ON "ResearchJobItem"("jobId");

-- CreateIndex
CREATE UNIQUE INDEX "ResearchJobItem_jobId_countryIso3_key" ON "ResearchJobItem"("jobId", "countryIso3");

-- CreateIndex
CREATE UNIQUE INDEX "ScoringMethodology_name_key" ON "ScoringMethodology"("name");

-- CreateIndex
CREATE INDEX "ScoringWeight_methodologyId_idx" ON "ScoringWeight"("methodologyId");

-- CreateIndex
CREATE UNIQUE INDEX "ScoringWeight_methodologyId_dimension_key" ON "ScoringWeight"("methodologyId", "dimension");

-- CreateIndex
CREATE UNIQUE INDEX "Institution_name_key" ON "Institution"("name");

-- CreateIndex
CREATE INDEX "Institution_countryCode_idx" ON "Institution"("countryCode");

-- CreateIndex
CREATE INDEX "Institution_countryId_idx" ON "Institution"("countryId");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkDataset_slug_key" ON "BenchmarkDataset"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkDimension_slug_key" ON "BenchmarkDimension"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkSource_slug_key" ON "BenchmarkSource"("slug");

-- CreateIndex
CREATE INDEX "BenchmarkInstitutionScore_institutionId_idx" ON "BenchmarkInstitutionScore"("institutionId");

-- CreateIndex
CREATE INDEX "BenchmarkInstitutionScore_dimensionId_idx" ON "BenchmarkInstitutionScore"("dimensionId");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkInstitutionScore_datasetId_institutionId_dimension_key" ON "BenchmarkInstitutionScore"("datasetId", "institutionId", "dimensionId");

-- CreateIndex
CREATE INDEX "BenchmarkInstitutionScoreSource_sourceId_idx" ON "BenchmarkInstitutionScoreSource"("sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkInstitutionScoreSource_scoreId_sourceId_key" ON "BenchmarkInstitutionScoreSource"("scoreId", "sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkKpi_slug_key" ON "BenchmarkKpi"("slug");

-- CreateIndex
CREATE INDEX "BenchmarkKpiValue_kpiId_idx" ON "BenchmarkKpiValue"("kpiId");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkKpiValue_datasetId_kpiId_comparator_key" ON "BenchmarkKpiValue"("datasetId", "kpiId", "comparator");

-- CreateIndex
CREATE INDEX "BenchmarkKpiValueSource_sourceId_idx" ON "BenchmarkKpiValueSource"("sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "BenchmarkKpiValueSource_valueId_sourceId_key" ON "BenchmarkKpiValueSource"("valueId", "sourceId");

-- CreateIndex
CREATE INDEX "BenchmarkReport_targetId_idx" ON "BenchmarkReport"("targetId");

-- CreateIndex
CREATE INDEX "ServiceAnalysis_serviceId_idx" ON "ServiceAnalysis"("serviceId");

-- CreateIndex
CREATE UNIQUE INDEX "ConceptSheet_opportunityId_key" ON "ConceptSheet"("opportunityId");

-- CreateIndex
CREATE INDEX "RoadmapInitiative_phaseId_idx" ON "RoadmapInitiative"("phaseId");

-- CreateIndex
CREATE INDEX "ServiceSourceCitation_sourceId_idx" ON "ServiceSourceCitation"("sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "ServiceSourceCitation_serviceId_sourceId_key" ON "ServiceSourceCitation"("serviceId", "sourceId");

-- CreateIndex
CREATE INDEX "InstitutionSourceCitation_sourceId_idx" ON "InstitutionSourceCitation"("sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "InstitutionSourceCitation_institutionId_sourceId_key" ON "InstitutionSourceCitation"("institutionId", "sourceId");

-- CreateIndex
CREATE INDEX "OpportunitySourceCitation_sourceId_idx" ON "OpportunitySourceCitation"("sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "OpportunitySourceCitation_opportunityId_sourceId_key" ON "OpportunitySourceCitation"("opportunityId", "sourceId");

-- CreateIndex
CREATE INDEX "RequirementSourceCitation_sourceId_idx" ON "RequirementSourceCitation"("sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "RequirementSourceCitation_requirementId_sourceId_key" ON "RequirementSourceCitation"("requirementId", "sourceId");

-- AddForeignKey
ALTER TABLE "AgentExecution" ADD CONSTRAINT "AgentExecution_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES "AgentConfig"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResearchJobItem" ADD CONSTRAINT "ResearchJobItem_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "ResearchJob"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScoringWeight" ADD CONSTRAINT "ScoringWeight_methodologyId_fkey" FOREIGN KEY ("methodologyId") REFERENCES "ScoringMethodology"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Institution" ADD CONSTRAINT "Institution_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES "Country"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkDataset" ADD CONSTRAINT "BenchmarkDataset_targetInstitutionId_fkey" FOREIGN KEY ("targetInstitutionId") REFERENCES "Institution"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkInstitutionScore" ADD CONSTRAINT "BenchmarkInstitutionScore_datasetId_fkey" FOREIGN KEY ("datasetId") REFERENCES "BenchmarkDataset"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkInstitutionScore" ADD CONSTRAINT "BenchmarkInstitutionScore_institutionId_fkey" FOREIGN KEY ("institutionId") REFERENCES "Institution"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkInstitutionScore" ADD CONSTRAINT "BenchmarkInstitutionScore_dimensionId_fkey" FOREIGN KEY ("dimensionId") REFERENCES "BenchmarkDimension"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkInstitutionScoreSource" ADD CONSTRAINT "BenchmarkInstitutionScoreSource_scoreId_fkey" FOREIGN KEY ("scoreId") REFERENCES "BenchmarkInstitutionScore"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkInstitutionScoreSource" ADD CONSTRAINT "BenchmarkInstitutionScoreSource_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "BenchmarkSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkKpiValue" ADD CONSTRAINT "BenchmarkKpiValue_datasetId_fkey" FOREIGN KEY ("datasetId") REFERENCES "BenchmarkDataset"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkKpiValue" ADD CONSTRAINT "BenchmarkKpiValue_kpiId_fkey" FOREIGN KEY ("kpiId") REFERENCES "BenchmarkKpi"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkKpiValueSource" ADD CONSTRAINT "BenchmarkKpiValueSource_valueId_fkey" FOREIGN KEY ("valueId") REFERENCES "BenchmarkKpiValue"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkKpiValueSource" ADD CONSTRAINT "BenchmarkKpiValueSource_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "BenchmarkSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkReport" ADD CONSTRAINT "BenchmarkReport_targetId_fkey" FOREIGN KEY ("targetId") REFERENCES "Institution"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BenchmarkReport" ADD CONSTRAINT "BenchmarkReport_comparisonId_fkey" FOREIGN KEY ("comparisonId") REFERENCES "Institution"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ServiceAnalysis" ADD CONSTRAINT "ServiceAnalysis_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "GPSSAService"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConceptSheet" ADD CONSTRAINT "ConceptSheet_opportunityId_fkey" FOREIGN KEY ("opportunityId") REFERENCES "Opportunity"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RoadmapInitiative" ADD CONSTRAINT "RoadmapInitiative_phaseId_fkey" FOREIGN KEY ("phaseId") REFERENCES "RoadmapPhase"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ServiceSourceCitation" ADD CONSTRAINT "ServiceSourceCitation_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "GPSSAService"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ServiceSourceCitation" ADD CONSTRAINT "ServiceSourceCitation_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "DataSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstitutionSourceCitation" ADD CONSTRAINT "InstitutionSourceCitation_institutionId_fkey" FOREIGN KEY ("institutionId") REFERENCES "Institution"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstitutionSourceCitation" ADD CONSTRAINT "InstitutionSourceCitation_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "DataSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OpportunitySourceCitation" ADD CONSTRAINT "OpportunitySourceCitation_opportunityId_fkey" FOREIGN KEY ("opportunityId") REFERENCES "Opportunity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OpportunitySourceCitation" ADD CONSTRAINT "OpportunitySourceCitation_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "DataSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RequirementSourceCitation" ADD CONSTRAINT "RequirementSourceCitation_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "Requirement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RequirementSourceCitation" ADD CONSTRAINT "RequirementSourceCitation_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "DataSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

